<!-- by default this file runs first page loaded -->
<div class="container">
    <NavBar/>
    <div class="body">
        {{outlet}} <!-- this outlet keyword is whatever route on i am on it will give me body section -->
    </div>
</div>