
<Jumbo>
    <h2>Contact Us</h2>
    <p>Super Rentals Representatives would love to answer your questions,you can contact us on the phone number given below</p>
    <address>
        Super Rentals
        <p>
            Testing Address Road<br>
            Ember City
        </p>
        <a href="tel:505.777.1212">+1 (505) 555-1212</a><br>
        <a href="mailto: superentals@emberjs.com">superrentals@emberjs.com</a>
    </address>
     <LinkTo @route="index" class='button'>Go to home</LinkTo>
</Jumbo>