<div class ="jumbo">
    <div class="right tomster"></div>
    <h2>welcome to super rentals</h2>
    <p>we hope that u will find the property you are looking forward to</p>
  <!-- to run SPA avoid reload of pages we will route her -->
  <!-- in caps tag name show its not html but ember tag -->
  <LinkTo @route="about" class='button'>About Us</LinkTo>
</div>